.topnav{
    overflow: hidden;
    width: 100%;
    height: calc(643rem/64);
    height: calc(380rem/64);
    background-color: #cc0033;
    border-radius:0 0 calc(80rem/64) calc(80rem/64);
}

.topnav a img{
    display: block;
    float: left;
    width: calc(100rem/64);
    padding-top: calc(30rem/64);
    padding-left: calc(15rem/64);
}

input{
    position: absolute;
    top: calc(20rem/64);
    left: calc(140rem/64);
    height: calc(50rem/64);
    border-radius: calc(50rem/64);
    border: none;
    margin-top: calc(5rem/50);
    padding-left: calc(25rem/64);
    padding-right: calc(100rem/64);
}

div .big{
    /* width: calc(20rem/64); */
    height: calc(20rem/64);
}

div .big i{
    position: absolute;
    top: calc(30rem/64);
    right: calc(75rem/64);
    color: #ccc;
    font-size: calc(30rem/64);
    border-left: 1px solid #e5e5e5;
    padding-left: calc(12rem/64);
}

.topnav i{
    float: right;
    color: #fff;
    font-size: calc(45rem/64);
    font-weight: 800;
    padding-right: calc(20rem/64);
    margin-top: calc(2rem/64);
}

.ad{
    position: relative;
}

.ad img{
    position: absolute;
    top: calc(-265rem/64);
    left: calc(0rem/64);
    padding-left: calc(20rem/64);
    width: calc(600rem/64);
    border-radius: calc(30rem/64);
}


/* 十个服务 */
.ten-service{
    widows: 100%;
    height: calc(240rem/64);
    margin-top: calc(60rem/64);
}

.ten-service ul{
    width: 100%;
    overflow: hidden;
}

.ten-service li{
    width: 20%;
    float: left;
}

.ten-service a{
    display: block;
    width: 100%;
}

.ten-service img{
    width: 50%;
    padding-left: calc(35rem/64);
}

.ten-service span{
    display: block;
    text-align: center;
    padding: calc(10rem/64) 0;
}


/* 雷神快报 */
.new{
    width: 100%;
    height: calc(70rem/64);
    background-color: #f1f1f1;
}

.new img{
    width: calc(108rem/64);
    height: calc(53/64);
    margin-top: calc(20rem/64);
    float: left;
    margin-left: calc(15rem/64);
    margin-right: calc(20rem/64);
}

.new a{
    display: block;
    font-size: calc(22rem/64);
    color: #333;
    padding-top: calc(22rem/64);
    box-sizing: border-box;
}

.new s{
    display: block;
    float: right;
    margin-right: calc(25rem/64);
    margin-top: calc(-48rem/64);
}


/* 优惠券 */
.sale{
    display: flex;
    padding-right: calc(10rem/64);
    box-sizing: border-box;
    background-color: #f1f1f1;
}
.sale-left, .sale-right{
    flex: 1;
    display: block;
    width:100%;
    height: calc(140rem/64);
    position: relative;
    background-color: #f1f1f1;
    overflow: hidden;
}

.sale a{
    background-image: url(../img/background-image_1.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    margin-left: calc(10rem/64);
    display: block;
    float: left;
}

.sale span{
    display: block;
    position: absolute;
    top: calc(33rem/64);
    left: calc(48rem/64);
    color: #fff;
    font-size: calc(34rem/64);

}

.sale s{
    display: block;
    position: absolute;
    top: calc(80rem/64);
    left: calc(37rem/64);
    color: #fff;
    font-size: calc(22rem/64);
}

.sale b{
    display: block;
    position: absolute;
    top: calc(41rem/64);
    right:calc(16rem/64);
    color: #fff;
    font-size: calc(22rem/64);
    white-space: normal;
    width: calc(25rem/64);
    font-weight: normal;
    line-height: calc(35rem/64);
}






/* 活动专区 */

.activity{
    width: 100%;
    height: calc(400rem/64);
    background-color: #f1f1f1;
    padding-top: calc(20rem/64);
    overflow: hidden;
}

.activity-title{
    width: 100%;
    height: calc(90rem/64);
    overflow: hidden;
}

.activity-title-left{
    float: left;
    width: calc(30rem/64);
    height: calc(20rem/64);
    border-bottom: 2px solid #333;
    margin-left: calc(240rem/64);
    margin-top: calc(30rem/64);
    box-sizing: border-box;
    margin-right: calc(15rem/64);
    
}

.activity-title h3{
    font-size: calc(30rem/64);
    line-height: calc(90rem/64);
}

.activity-title-right{
    float: right;
    width: calc(30rem/64);
    height: calc(20rem/64);
    border-bottom: 2px solid #333;
    margin-top: calc(30rem/64);
    box-sizing: border-box;
    margin-right: calc(195rem/64);
}

.activity-product-left{
    float: left;
    width: 50%;
}

.activity-product-left a{
    display:block;
}

.activity-product-left img{
    width: 100%;
    display:block;
}

.activity-product-right{
    float: left;
    width: 50%;
}

.activity-product-right-free{
    overflow: hidden;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    height: calc(152rem/64);
    box-sizing: border-box;
}

.activity-product-right-free a{
    display: block;
}

.activity-product-right-free a img{
    width: 33%;
    float: right;
}

.activity-product-right-free h3{
    font-size: calc(30rem/64);
    color: #333;
    text-decoration: none;
    padding: calc(12rem/64) calc(8rem/64);
}

.activity-product-right-free span{
    display: block;
    color: #999;
    padding: 0 calc(8rem/64);
    font-size: calc(18rem/64);
}

.activity-product-right-free s{
    display: block;
    color: #1dcfcf;
    padding: calc(10rem/64);
    font-size: calc(18rem/64);
}
.activity-product-right-Air{
    float: right;
    height: 50%;
}
.activity-product-right-Air img{
    width: 100%;
    height: 100%;
}

/* 爆品推荐 */
.recommend{
    width: 100%;
    height: calc(430rem/64);
    background-color: #f1f1f1;
    overflow: hidden;
}

.recommend-title{
    width: 100%;
    height: calc(90rem/64);
    overflow: hidden;
}

.recommend-title-left{
    float: left;
    width: calc(30rem/64);
    height: calc(20rem/64);
    border-bottom: 2px solid #333;
    margin-left: calc(240rem/64);
    margin-top: calc(30rem/64);
    box-sizing: border-box;
    margin-right: calc(15rem/64);
    
}

.recommend-title h3{
    font-size: calc(30rem/64);
    line-height: calc(90rem/64);
}

.recommend-title-right{
    float: right;
    width: calc(30rem/64);
    height: calc(20rem/64);
    border-bottom: 2px solid #333;
    margin-top: calc(30rem/64);
    box-sizing: border-box;
    margin-right: calc(195rem/64);
}

.recommend-product-left{
    float: left;
    width: 50%;
}

.recommend-product-left a{
    display:block;
    border-right: 1px solid #ccc;
}

.recommend-product-left img{
    width: 100%;
    display:block;
}

.recommend-product-right a{
    width: 50%;
    display: block;
    float: left;
}

.recommend-product-right .top{
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}

.recommend-product-right img{
    width: 99%;
    vertical-align: middle
}


/* 911Pro系列 */
.Pro{
    width:100%;
    background-color: #f1f1f1;
}

.Pro-title{
    width: 100%;
    height: calc(90rem/64);
    background-color: #F1F1F1;
    overflow: hidden;
}

.Pro-title .name{
    color: #333;
    font-size: calc(25rem/64);
    float: left;
    font-weight: 700;
    padding-left: calc(15rem/64);
    border-left: 3px solid #0dcecb;
    margin-left: calc(20rem/64);
    margin-top: calc(30rem/64);
}

.Pro-title span{
    display: block;
    float: right;
    margin-top: calc(36rem/64);
    margin-right: calc(20rem/64);
}

.Pro img{
    width: 100%;
    vertical-align: middle;
}

.Pro-product{
    width: 100%;
}

.Pro-product ul{
    width: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
}

.Pro-product li:nth-child(odd){
    float: left;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.Pro-product li{
    height: calc(470rem/64);
}

.Pro-product li:nth-child(even){
    float: right;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.Pro-product a{
    width: 100%;
    display: block;
    background-color: #fff;

    
}

.Pro-product a:nth-child(odd){
    margin-right: calc(10rem/64);
}

.Pro-product img{
    width: 100%;
}

.Pro-product h3{
    color: #333;
    font-size: calc(20rem/64);
    padding-left: calc(20rem/64);
    margin-bottom: calc(10rem/64);
}

.Pro-product p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: rgb(159, 159, 159);
    padding-left: calc(20rem/64);
    margin-bottom: calc(12rem/64);
    font-size: calc(19rem/64);
    line-height: 1.4;
}


.Pro-product span{
    color: rgb(255, 0, 54);
    padding-left: calc(30rem/64);
    font-size: calc(26rem/64);
}




/* Air系列 */
.Air{
    width:100%;
    background-color: #f1f1f1;
}

.Air-title{
    width: 100%;
    height: calc(90rem/64);
    background-color: #F1F1F1;
    overflow: hidden;
}

.Air-title .name{
    color: #333;
    font-size: calc(25rem/64);
    float: left;
    font-weight: 700;
    padding-left: calc(15rem/64);
    border-left: 3px solid #0dcecb;
    margin-left: calc(20rem/64);
    margin-top: calc(30rem/64);
}

.Air-title span{
    display: block;
    float: right;
    margin-top: calc(36rem/64);
    margin-right: calc(20rem/64);
}

.Air img{
    width: 100%;
    vertical-align: middle;
}

.Air-product{
    width: 100%;
}

.Air-product ul{
    width: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
}

.Air-product li:nth-child(odd){
    float: left;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.Air-product li{
    height: calc(470rem/64);
}

.Air-product li:nth-child(even){
    float: right;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.Air-product a{
    width: 100%;
    display: block;
    background-color: #fff;

    
}

.Air-product a:nth-child(odd){
    margin-right: calc(10rem/64);
}

.Air-product img{
    width: 100%;
}

.Air-product h3{
    color: #333;
    font-size: calc(20rem/64);
    padding-left: calc(20rem/64);
    margin-bottom: calc(10rem/64);
}

.Air-product p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: rgb(159, 159, 159);
    padding-left: calc(20rem/64);
    margin-bottom: calc(12rem/64);
    font-size: calc(19rem/64);
}

.Air-product span{
    color: rgb(255, 0, 54);
    padding-left: calc(30rem/64);
    font-size: calc(26rem/64);
}



/* M系列 */
.M{
    width:100%;
    background-color: #f1f1f1;
}

.M-title{
    width: 100%;
    height: calc(90rem/64);
    background-color: #F1F1F1;
    overflow: hidden;
}

.M-title .name{
    color: #333;
    font-size: calc(25rem/64);
    float: left;
    font-weight: 700;
    padding-left: calc(15rem/64);
    border-left: 3px solid #0dcecb;
    margin-left: calc(20rem/64);
    margin-top: calc(30rem/64);
}

.M-title span{
    display: block;
    float: right;
    margin-top: calc(36rem/64);
    margin-right: calc(20rem/64);
}

.M img{
    width: 100%;
    vertical-align: middle;
}

.M-product{
    width: 100%;
}

.M-product ul{
    width: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
}

.M-product li:nth-child(odd){
    float: left;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.M-product li:nth-child(even){
    float: right;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.M-product a{
    width: 100%;
    display: block;
    background-color: #fff;

    
}

.M-product a:nth-child(odd){
    margin-right: calc(10rem/64);
}

.M-product img{
    width: 100%;
}

.M-product h3{
    color: #333;
    font-size: calc(20rem/64);
    padding-left: calc(20rem/64);
    margin-bottom: calc(10rem/64);
}

.M-product p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: rgb(159, 159, 159);
    padding-left: calc(20rem/64);
    margin-bottom: calc(12rem/64);
    font-size: calc(19rem/64);
}

.M-product span{
    color: rgb(255, 0, 54);
    padding-left: calc(30rem/64);
    font-size: calc(26rem/64);
}



/* 17.3英寸巨幕微边 */
.screen{
    width:100%;
    background-color: #f1f1f1;
}

.screen-title{
    width: 100%;
    height: calc(90rem/64);
    background-color: #F1F1F1;
    overflow: hidden;
}

.screen-title .name{
    color: #333;
    font-size: calc(25rem/64);
    float: left;
    font-weight: 700;
    padding-left: calc(15rem/64);
    border-left: 3px solid #0dcecb;
    margin-left: calc(20rem/64);
    margin-top: calc(30rem/64);
}

.screen-title span{
    display: block;
    float: right;
    margin-top: calc(36rem/64);
    margin-right: calc(20rem/64);
}

.screen img{
    width: 100%;
    vertical-align: middle;
}

.screen-product{
    width: 100%;
}

.screen-product ul{
    width: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
}

.screen-product li:nth-child(odd){
    float: left;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.screen-product li{
    height: calc(470rem/64);
}

.screen-product li:nth-child(even){
    float: right;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.screen-product a{
    width: 100%;
    display: block;
    background-color: #fff;

    
}

.screen-product a:nth-child(odd){
    margin-right: calc(10rem/64);
}

.screen-product img{
    width: 100%;
}

.screen-product h3{
    color: #333;
    font-size: calc(20rem/64);
    padding-left: calc(20rem/64);
    margin-bottom: calc(10rem/64);
}

.screen-product p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: rgb(159, 159, 159);
    padding-left: calc(20rem/64);
    margin-bottom: calc(12rem/64);
    font-size: calc(19rem/64);
}

.screen-product span{
    color: rgb(255, 0, 54);
    padding-left: calc(30rem/64);
    font-size: calc(26rem/64);
}




/* 16.6英寸电竞 */
.electric{
    width:100%;
    background-color: #f1f1f1;
}

.electric-title{
    width: 100%;
    height: calc(90rem/64);
    background-color: #F1F1F1;
    overflow: hidden;
}

.electric-title .name{
    color: #333;
    font-size: calc(25rem/64);
    float: left;
    font-weight: 700;
    padding-left: calc(15rem/64);
    border-left: 3px solid #0dcecb;
    margin-left: calc(20rem/64);
    margin-top: calc(30rem/64);
}

.electric-title span{
    display: block;
    float: right;
    margin-top: calc(36rem/64);
    margin-right: calc(20rem/64);
}

.electric img{
    width: 100%;
    vertical-align: middle;
}

.electric-product{
    width: 100%;
}

.electric-product ul{
    width: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
}

.electric-product li:nth-child(odd){
    float: left;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.electric-product li:nth-child(even){
    float: right;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.electric-product a{
    width: 100%;
    display: block;
    background-color: #fff;

    
}

.electric-product a:nth-child(odd){
    margin-right: calc(10rem/64);
}

.electric-product img{
    width: 100%;
}

.electric-product h3{
    color: #333;
    font-size: calc(20rem/64);
    padding-left: calc(20rem/64);
    margin-bottom: calc(10rem/64);
}

.electric-product p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: rgb(159, 159, 159);
    padding-left: calc(20rem/64);
    margin-bottom: calc(12rem/64);
    font-size: calc(19rem/64);
}

.electric-product span{
    color: rgb(255, 0, 54);
    padding-left: calc(30rem/64);
    font-size: calc(26rem/64);
}


/* 游戏台式机 */
.game{
    width:100%;
    background-color: #f1f1f1;
}

.game-title{
    width: 100%;
    height: calc(90rem/64);
    background-color: #F1F1F1;
    overflow: hidden;
}

.game-title .name{
    color: #333;
    font-size: calc(25rem/64);
    float: left;
    font-weight: 700;
    padding-left: calc(15rem/64);
    border-left: 3px solid #0dcecb;
    margin-left: calc(20rem/64);
    margin-top: calc(30rem/64);
}

.game-title span{
    display: block;
    float: right;
    margin-top: calc(36rem/64);
    margin-right: calc(20rem/64);
}

.game img{
    width: 100%;
    vertical-align: middle;
}

.game-product{
    width: 100%;
}

.game-product ul{
    width: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
}

.game-product li:nth-child(odd){
    float: left;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.game-product li{
    height: calc(470rem/64);
}

.game-product li:nth-child(even){
    float: right;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.game-product a{
    width: 100%;
    display: block;
    background-color: #fff;

    
}

.game-product a:nth-child(odd){
    margin-right: calc(10rem/64);
}

.game-product img{
    width: 100%;
}

.game-product h3{
    color: #333;
    font-size: calc(20rem/64);
    padding-left: calc(20rem/64);
    margin-bottom: calc(10rem/64);
}

.game-product p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: rgb(159, 159, 159);
    padding-left: calc(20rem/64);
    margin-bottom: calc(12rem/64);
    font-size: calc(19rem/64);
}

.game-product span{
    color: rgb(255, 0, 54);
    padding-left: calc(30rem/64);
    font-size: calc(26rem/64);
}



/* 游戏鼠标 */
.mouse{
    width:100%;
    background-color: #f1f1f1;
}

.mouse-title{
    width: 100%;
    height: calc(90rem/64);
    background-color: #F1F1F1;
    overflow: hidden;
}

.mouse-title .name{
    color: #333;
    font-size: calc(25rem/64);
    float: left;
    font-weight: 700;
    padding-left: calc(15rem/64);
    border-left: 3px solid #0dcecb;
    margin-left: calc(20rem/64);
    margin-top: calc(30rem/64);
}

.mouse-title span{
    display: block;
    float: right;
    margin-top: calc(36rem/64);
    margin-right: calc(20rem/64);
}

.mouse img{
    width: 100%;
    vertical-align: middle;
}

.mouse-product{
    width: 100%;
}

.mouse-product ul{
    width: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
}

.mouse-product li:nth-child(odd){
    float: left;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.mouse-product li{
    height: calc(470rem/64);
}

.mouse-product li:nth-child(even){
    float: right;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.mouse-product a{
    width: 100%;
    display: block;
    background-color: #fff;

    
}

.mouse-product a:nth-child(odd){
    margin-right: calc(10rem/64);
}

.mouse-product img{
    width: 100%;
}

.mouse-product h3{
    color: #333;
    font-size: calc(20rem/64);
    padding-left: calc(20rem/64);
    margin-bottom: calc(10rem/64);
}

.mouse-product p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: rgb(159, 159, 159);
    padding-left: calc(20rem/64);
    margin-bottom: calc(12rem/64);
    font-size: calc(19rem/64);
}

.mouse-product span{
    color: rgb(255, 0, 54);
    padding-left: calc(30rem/64);
    font-size: calc(26rem/64);
}




/* 机械键盘 */
.keyboard{
    width:100%;
    background-color: #f1f1f1;
}

.keyboard-title{
    width: 100%;
    height: calc(90rem/64);
    background-color: #F1F1F1;
    overflow: hidden;
}

.keyboard-title .name{
    color: #333;
    font-size: calc(25rem/64);
    float: left;
    font-weight: 700;
    padding-left: calc(15rem/64);
    border-left: 3px solid #0dcecb;
    margin-left: calc(20rem/64);
    margin-top: calc(30rem/64);
}

.keyboard-title span{
    display: block;
    float: right;
    margin-top: calc(36rem/64);
    margin-right: calc(20rem/64);
}

.keyboard img{
    width: 100%;
    vertical-align: middle;
}

.keyboard-product{
    width: 100%;
}

.keyboard-product ul{
    width: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
}

.keyboard-product li:nth-child(odd){
    float: left;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.keyboard-product li:nth-child(even){
    float: right;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.keyboard-product a{
    width: 100%;
    display: block;
    background-color: #fff;

    
}

.keyboard-product a:nth-child(odd){
    margin-right: calc(10rem/64);
}

.keyboard-product img{
    width: 100%;
}

.keyboard-product h3{
    color: #333;
    font-size: calc(20rem/64);
    padding-left: calc(20rem/64);
    margin-bottom: calc(10rem/64);
}

.keyboard-product p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: rgb(159, 159, 159);
    padding-left: calc(20rem/64);
    margin-bottom: calc(12rem/64);
    font-size: calc(19rem/64);
}

.keyboard-product span{
    color: rgb(255, 0, 54);
    padding-left: calc(30rem/64);
    font-size: calc(26rem/64);
}




/* 电竞箱包 */
.bag{
    width:100%;
    background-color: #f1f1f1;
}

.bag-title{
    width: 100%;
    height: calc(90rem/64);
    background-color: #F1F1F1;
    overflow: hidden;
}

.bag-title .name{
    color: #333;
    font-size: calc(25rem/64);
    float: left;
    font-weight: 700;
    padding-left: calc(15rem/64);
    border-left: 3px solid #0dcecb;
    margin-left: calc(20rem/64);
    margin-top: calc(30rem/64);
}

.bag-title span{
    display: block;
    float: right;
    margin-top: calc(36rem/64);
    margin-right: calc(20rem/64);
}

.bag img{
    width: 100%;
    vertical-align: middle;
}

.bag-product{
    width: 100%;
}

.bag-product ul{
    width: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
}

.bag-product li:nth-child(odd){
    float: left;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.bag-product li:nth-child(even){
    float: right;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.bag-product li{
    height: calc(470rem/64);
}

.bag-product a{
    width: 100%;
    display: block;
    background-color: #fff;

    
}

.bag-product a:nth-child(odd){
    margin-right: calc(10rem/64);
}

.bag-product img{
    width: 100%;
}

.bag-product h3{
    color: #333;
    font-size: calc(20rem/64);
    padding-left: calc(20rem/64);
    margin-bottom: calc(10rem/64);
}

.bag-product p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: rgb(159, 159, 159);
    padding-left: calc(20rem/64);
    margin-bottom: calc(12rem/64);
    font-size: calc(19rem/64);
}

.bag-product span{
    color: rgb(255, 0, 54);
    padding-left: calc(30rem/64);
    font-size: calc(26rem/64);
}



/* 其他配件 */
.other{
    width:100%;
    background-color: #f1f1f1;
}

.other-title{
    width: 100%;
    height: calc(90rem/64);
    background-color: #F1F1F1;
    overflow: hidden;
}

.other-title .name{
    color: #333;
    font-size: calc(25rem/64);
    float: left;
    font-weight: 700;
    padding-left: calc(15rem/64);
    border-left: 3px solid #0dcecb;
    margin-left: calc(20rem/64);
    margin-top: calc(30rem/64);
}

.other-title span{
    display: block;
    float: right;
    margin-top: calc(36rem/64);
    margin-right: calc(20rem/64);
}

.other img{
    width: 100%;
    vertical-align: middle;
}

.other-product{
    width: 100%;
}

.other-product ul{
    width: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
}

.other-product li:nth-child(odd){
    float: left;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.other-product li{
    height: calc(470rem/64);
}

.other-product li:nth-child(even){
    float: right;
    width: 49%;
    margin-bottom: calc(14rem/64);
    padding: 0 calc(10rem/64);
    box-sizing: border-box;
    background-color: #fff;
}

.other-product a{
    width: 100%;
    display: block;
    background-color: #fff;
}

.other-product a:nth-child(odd){
    margin-right: calc(10rem/64);
}

.other-product img{
    width: 100%;
}

.other-product h3{
    color: #333;
    font-size: calc(20rem/64);
    padding-left: calc(20rem/64);
    margin-bottom: calc(10rem/64);
}

.other-product p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: rgb(159, 159, 159);
    padding-left: calc(20rem/64);
    margin-bottom: calc(12rem/64);
    font-size: calc(19rem/64);
}

.other-product span{
    color: rgb(255, 0, 54);
    padding-left: calc(30rem/64);
    font-size: calc(26rem/64);
}



/* 同城粉丝会 */
.fans{
    width:100%;
    background-color: #f1f1f1;
}

.fans-title{
    width: 100%;
    height: calc(90rem/64);
    background-color: #F1F1F1;
    overflow: hidden;
}

.fans-title .name{
    color: #333;
    font-size: calc(25rem/64);
    float: left;
    font-weight: 700;
    padding-left: calc(15rem/64);
    border-left: 3px solid #0dcecb;
    margin-left: calc(20rem/64);
    margin-top: calc(30rem/64);
}

.fans-title span{
    display: block;
    float: right;
    margin-top: calc(36rem/64);
    margin-right: calc(20rem/64);
}

.fans-product{
    width: 100%;
}

.fans-product ul{
    width: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
}

.fans-product li:nth-child(odd){
    float: left;
    width: 49%;
    background-color: #fff;
}

.fans-product li:nth-child(even){
    float: right;
    width: 49%;
    background-color: #fff;
}

.fans-product a{
    width: 100%;
    display: block;
    background-color: #fff;
}

.fans-product a:nth-child(odd){
    margin-right: calc(10rem/64);
}

.fans-product img{
    width: 100%;
    height: calc(190rem/64);
}

.fans-product p{
    display: block;
    color: #333;
    font-size: calc(20rem/64);
    text-align: center;
    padding: calc(20rem/64) 0;
}




/* 品牌视频 */
.video{
    width:100%;
    background-color: #f1f1f1;
}

.video-title{
    width: 100%;
    height: calc(90rem/64);
    background-color: #F1F1F1;
    overflow: hidden;
}

.video-title .name{
    color: #333;
    font-size: calc(25rem/64);
    float: left;
    font-weight: 700;
    padding-left: calc(15rem/64);
    border-left: 3px solid #0dcecb;
    margin-left: calc(20rem/64);
    margin-top: calc(30rem/64);
}

.video-title span{
    display: block;
    float: right;
    margin-top: calc(36rem/64);
    margin-right: calc(20rem/64);
}

.video-product{
    width: 100%;
}

.video-product ul{
    width: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
}

.video-product li:nth-child(odd){
    float: left;
    width: 49%;
    margin-bottom: calc(15rem/64);
    background-color: #fff;
    /* margin-left: calc(10rem/64); */
}

.video-product li:nth-child(even){
    float: right;
    width: 49%;
    margin-bottom: calc(15rem/64);
    background-color: #fff;
}

.video-product a{
    width: 100%;
    display: block;
    background-color: #fff;
}

.video-product a:nth-child(odd){
    margin-right: calc(10rem/64);
}

.video-product img{
    width: 98%;
    height: calc(155rem/64);
}

.video-product h3{
    color: #333;
    font-size: calc(16rem/64);
    margin-top: calc(10rem/64);
    text-align: center;
}


.video-product p{
    display: block;
    color: #333;
    font-size: calc(20rem/64);
    text-align: center;
    padding: calc(20rem/64) 0;
}



/* 返回顶部 */
.return{
    width: 100%;
    height: calc(100rem/64);
    position: relative;
}

.box{
    width: 0px;
    height: 0px;
    border: 5px solid #333;
    border-color: transparent  transparent black transparent;
    position: absolute;
    top: calc(10rem/64);
    right: calc(310rem/64);
}

.return span{
    display: block;
    font-weight: 700;
    text-align: center;
    line-height: calc(90rem/64);
    font-size: calc(30rem/64);
}



/* 底部 */
.footer{
    width: 100%;
    height: calc(182rem/64);
    background-color: #fafafa;
}

.footer ul{
    width: 100%;
    overflow: hidden;
    background-color: #FAFAFA;
    margin-top: calc(-20rem/64);
    height: calc(80rem/64);
    padding-top: calc(15rem/64);
    box-sizing: border-box;
}

.footer li{
    float: left;
    width: 25%;
    background-color: #fff;
}

.footer a{
    width: 100%;
    display: block;
    background-color: #fff;
}

.footer img{
    width: calc(144rem/64);
    height: calc(55rem/64);
}

.footer .last{
    height: calc(100rem/64);
    background-color: #f1f1f1;
    padding-top: calc(30rem/64);
    box-sizing: border-box;
}

.footer p{
    float: left;
    font-size: calc(26rem/64);
    padding-left: calc(12rem/64);
    box-sizing: border-box;
}

.footer i{
    float: right;
    margin-right: calc(25rem/64);
}

.footer span{
    display: block;
    font-size: calc(26rem/64);
    margin-left: calc(440rem/64);
}




/* 固定导航 */
div.footer-nav{
    width: 100%;
    height: calc(90rem/64);
    position: fixed;
    bottom: 0;
}

.footer-nav ul{
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.footer-nav li{
    float: left;
    width: 25%;
    background-color: #fff;
}

.footer-nav img{
    width: calc(36rem/64);
    height: calc(36rem/64);
    padding: calc(10rem/64) 0;
}

.footer-nav span{
    display: block;
    font-size: calc(18rem/64);
    padding-bottom: calc(10rem/64);
}

body{
    margin-bottom:calc(90rem/64)
}